[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
pylint = "*"
requests = "*"
yfinance = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
